/*
  The Name:Georgia Mechanical
  Author: 
  Support: 
  Description: Georgia Mechanical
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/


/* font  family  */
.tk-freight-display-pro { font-family: "freight-display-pro",serif; }
.tk-neue-haas-unica { font-family: "neue-haas-unica",sans-serif; }


body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    font-family: "neue-haas-unica",sans-serif;
    color: #000;
}

/* lenis */
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
    background: #359434;
}
body>.os-scrollbar {
    z-index: 999;
}
/* scroll bar */

img {
    max-width: 100%;
    height: auto;
}
/* animation */
.animation-line{
    overflow: hidden;
}
/* animation */


a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #000;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.bg-fix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* container */
.container {
    max-width: 1192px;
}

/* z-index */
.z-4 {
    z-index: 4 !important;
}

/* z-index */

/* input */
input[type="text"], 
input[type="email"], 
input[type="tel"], 
input[type="number"], 
input[type="password"], 
input[type="url"], 
textarea {
    width: 100%;
    padding: 12px;
    background: #fff;
    border: 1px solid #000;
    color: rgba(80, 80, 80, 0.50);
    font-family: "Helvetica", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
}
textarea{
	height: 116px;
}
input:focus , textarea:focus{
	outline: none;
	box-shadow: none;
}
::placeholder {
    color: rgba(80, 80, 80, 0.50);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}
/* input */



.mb-p p:last-child{
    margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-weight: 500;
    line-height: 0.95;
    font-family: "freight-display-pro",serif;
}

h1 {
    font-size: 65px;
}

h2 {
    font-size: 55px;
}

h3 {
    font-size: 44px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 27px;
}

h6 {
    font-size: 20px;
}

/* all button start */
.btn-1 {
    color: #FFF;
    display: inline-block;
    border-radius: 32px;
    border: 1px solid rgba(0, 0, 0, 0.00);
    background: #359434;
    backdrop-filter: blur(2px);
    padding: 8px 26px;
    font-weight: 500;
    transition: all 0.3s linear;

}
.btn-1:hover {
    background: #000;
    color: #fff;
}
.btn-1.btn-2 {
    background: #fff;
    color: #3D703C;
}

/* all button end */


/* all background start */
.bg-gray-info{
    background: rgba(217, 217, 217, 0.30);
}
/* all background end */


/* all border  */
.border-r-10{
    border-radius: 10px;
}
/* all border  */

/* swiper css start */
.swiper-pagination-bullet-active {
    background: #86C542;
}

.swiper-button-next::after,
.swiper-button-prev::after{
    display: none;
}
.swiper-icon-btn{
    height: 56px;
    width: 56px;
    border: 1px solid rgba(255, 255, 255, 0.60);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s linear;
}

.swiper-icon-btn svg{
    height: 16px;
    width: 16px;
}
.swiper-icon-btn:hover{
    background: #359434;
}
.swiper-button-next, .swiper-rtl .swiper-button-prev {
    right: 64px;
}
.swiper-button-prev, .swiper-rtl .swiper-button-next {
    left: auto;
    right: 142px;
}
.swiper-button-next, .swiper-button-prev {
    top: auto;
    bottom: 54px;
}
.swiper-pagination-bullet {
    width: 27px;
    height: 5px;
    display: inline-block;
    border-radius: 50px;
    background: #8D8D8D;
    opacity: 1;
    transition: all 0.3s linear;
}
.swiper-pagination-bullet-active {
    background: #3D703C;
    width: 73px;
}
.swiper-pagination {
    text-align: left;
}
.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 0;
}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    top: auto;
    bottom: 78px;
}
.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
    background: #359434;
    height: 3px;
    top: -0.5px;
}
.swiper-pagination-progressbar {
    background: rgba(141, 141, 141, 0.30);
}
.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: var(--swiper-pagination-progressbar-size,2px);
}
/* swiper css end */


/* ====================== header section start ====================== */
.header-area {
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99;
    left: 0;
    border-bottom: 0.5px solid #FFF;
    padding: 3px 0px;
}
.header-area .container{
    max-width: 1336px;
}
.header-logo img {
    max-width: 131px;
}
.offcanvas-mobile-menu-wrapper ul ,
.mobile-footer-menu-wrapper-info ul ,
.other-link-wrapper ,
.footer-menu ul ,
.slider-navigator ul,
.main-menu > ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.header-button .btn-1 {
    font-size: 19px;
    padding: 6px 24.5px;
    font-weight: 400;
}
.main-menu ul > li{
    display: inline-block;
    margin-right: 36px;
    position: relative;
    z-index: 1;
}
.main-menu ul li:last-child{
    margin-right: 0;
}
.main-menu ul li a{
    display: inline-block;
    color: #FFF;
    font-size: 20px;
    transition: all 0.3s linear;
}   
.main-menu ul> li:hover > a{
    color: #359434;
}
.main-menu ul li.menu-link > a::after ,
.main-menu ul li.menu-link > a::before {
    content: "";
    position: absolute;
    top: 16px;
    right: -16px;
    width: 8px;
    height: 1px;
    background: #fff;
    transition: all 0.3s linear;
}
.main-menu ul li.menu-link > a::after{
    transform: rotate(90deg);
}
.main-menu ul li.menu-link:hover > a::before {
    background: #359434;
}
.main-menu ul li.menu-link:hover > a::after {
     opacity: 0;
}
.sub-menu {
    position: absolute;
    left: 0;
    list-style: none;
    background-color: #000;
    top: 40px;
    width: 175px;
    border-radius: 0 0 9px 9px;
    -webkit-transition: all 0.3s cubic-bezier(0.34, 0.615, 0.4, 0.985);
    -o-transition: all 0.3s cubic-bezier(0.34, 0.615, 0.4, 0.985);
    transition: all 0.3s cubic-bezier(0.34, 0.615, 0.4, 0.985);
    visibility: hidden;
    opacity: 0;
    padding: 15px;
    z-index: 9;
}
.main-menu .sub-menu li{
    display: block;
    margin-right: 0;    
}
.main-menu .sub-menu li a{
    color: #fff;
}
.main-menu > ul > li:hover > .sub-menu {
    visibility: visible;
    opacity: 1;
    top: 33px;
}

/* slider navigator  */
.slider-navigator{
    position: absolute;
    left: 0;
    bottom: 58px;
    width: 100%;
    z-index: 9;
}
.slider-navigator ul li {
    display: inline-block;
    margin-right: 30px;
    cursor: pointer;
}
.slider-navigator ul li:last-child{
    margin-right: 0;
}
.slider-navigator ul li span{
    display: block;
}
.progress-line,
.static-line {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
    width: 100%;
    height: 1px;
    z-index: 1;
}
.progress-line{
    background: #63AB62;
    height: 3px;
    width: 0;
    transition: all 0.3s linear;
}
.navigator-label-info {
    padding-right: 69px;
    margin-top: 11px;
}
.navigator-label ,
.navigator-label-num {
    color: rgba(255, 255, 255, 0.50);
    font-size: 17px;
    transition: all 0.3s linear;
}

@keyframes expandWidth {
    from {
        width: 0;
    }
    to {
        width: calc(100%);
    }
}
.slider-navigator li.active .progress-line {
    animation: expandWidth 5s linear forwards;
}
.slider-navigator li.active .navigator-label ,
.slider-navigator li.active  .navigator-label-num{
    color: rgba(255, 255, 255, 1);
}


/* offcanvas header start */
.menu-toogle {
    border: 0;
    background-color: #359434;
    color: #fff;
    font-family: "neue-haas-unica",sans-serif;
    transition: all 0.3s ease-in-out;
    height: 32px;
    width: 95px;
    border-radius: 32px;
    gap: 5px;
}
.menu-icon {
    display: block;
    height: 8px;
    width: 16px;
    position: relative;
    z-index: 1;
    transform: translateY(-1px);
}
.menu-icon span {
	display: block;
	background-color: #fff;
	height: 1px;
	width: 16px;
	position: absolute;
	top: 0;
	left: 0;
	transition: all 0.3s ease-in-out;
}

.menu-icon span:nth-child(1) {
	top: 0px;
}

.menu-icon span:nth-child(2) {
    top: 4px;
}

.menu-icon span:nth-child(3) {
    top: 8px;
}

.menu-icon.open span:nth-child(2) {
	opacity: 0;
	visibility: hidden;
}

.menu-icon.open span:nth-child(1) {
	top: 0px;
}

.menu-icon.open span:nth-child(3) {
	top: 12px;
}
.close-icon {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0;
    height: 8px;
    width: 16px;
    -webkit-transition: top ease-in-out.3s,
		-webkit-transform ease-in-out.3s 0.3s;
    -o-transition: top ease-in-out.3s, transform ease 0.3s 0.3s;
    transition: background-color ease-in-out.3s, top ease-in-out.3s,
		transform ease-in-out.3s 0.3s, -webkit-transform ease-in-out.3s 0.3s;
    justify-content: center;
    transform: translateY(-2px);
}
.close-icon span {
    display: inline-block;
    background-color: #fff;
    height: 1px;
    width: 16px;
    transition: all 0.5s ease-out;
}
.offcanvas-header {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-bottom: 6px solid #3D703C;
    padding: 9px 24px;
}
.offcanvas-mobile-menu-wrapper ul li a {
    color: #000;
    font-family: "neue-haas-unica",sans-serif;
    font-size: 20px;
    line-height: 0.95;
    padding: 15px 0;
}
.offcanvas-mobile-menu-wrapper ul li{
    border-bottom: 1px solid rgba(141, 141, 141, 0.40);
}
.offcanvas-mobile-menu-wrapper ul li:last-child{
    border-bottom: 0;
}
.offcanvas-body {
    padding: 0;
    padding-right: 50px;
    padding-left: 50px;
    padding-bottom: 18px;
}
.offcanvas-mobile-menu-wrapper::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: calc(100% + 100px);
    margin-left: -50px;
    background: rgba(217, 217, 217, 0.30);
}
.offcanvas-mobile-menu-wrapper {
    padding: 10px 6px 4px;
}
.offcanvas-bottom-conent {
    margin-top: 29px;
}
.offcanvas-bottom-conent .btn-1 {
    padding: 8px 76px;
    margin-bottom: 65px;
}
.mobile-footer-menu-wrapper-info address{
    margin-bottom: 0;
}

/* offcanvas header end */
/* ====================== header section end ====================== */


/* ====================== banner section start ====================== */
.banner-content-wrapper{
    min-height: 853px;
    padding: 120px 0 254px;
    height: 100vh;
}
.banner-content-wrapper::after,
.banner-content-wrapper::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 1000%;
    background: #363232;
    opacity: 0.47;
    z-index: 1;
}
.banner-content-wrapper::after{
    background: linear-gradient(180deg, rgba(61, 112, 60, 0.00) 0%, rgba(61, 112, 60, 0.13) 100%);
    background-blend-mode: multiply;
    z-index: 2;
}
.banner-content{
    max-width: 768px;
}
.banner-content h1 {
    color: #FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 78px;
    margin-bottom: 20px;
}
.banner-content p {
    color:#FFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: 17px;
}
.banner-content .btn-1 {
    margin-top: 5px;
    font-weight: 400;
}
/* ====================== banner section end ====================== */

/* ====================== our client section start ====================== */
.our-client-area {
    padding: 95px 0 100px;
}
.our-client-area .container {
    max-width: 1212px;
}
.our-client-area  h2 {
    margin-bottom: 40px;
}
.card-logo-wrapper-area{
    gap: 45px;
}
.card-logo-wrapper {
    border: 1px solid rgba(141, 141, 141, 0.50);
    border-radius: 10px;
    padding: 10px;
    min-width: 201px;
}
.card-logo-wrapper img {
    max-width: 143px;
    margin-right: auto;
    margin-left: auto;
    max-height: 78px;
}


/* ====================== our client section end ====================== */

/* ====================== quality section start ====================== */
.pin{
    padding: 24px 0 20px;
}
.our-culture-content h2,
.slider-item h2 {
    color: #3D703C;
    margin-bottom: 25px;
}
.our-culture-content h5,
.slider-item h5 {
    color: #000;
    line-height: 1.19;
}
.our-culture-content .btn-1 {
    padding: 8px 29px;
}
.slider-pagination-span {
    display: inline-block;
    height: 5px;
    width: 27px;
    background: #8D8D8D;
    border-radius: 10px;
    transition: all 0.3s linear;
}
.slider-pagination-span.active {
    width: 73px;
    background: #3D703C;
}
.quality-area .container {
    max-width: 1420px;
}
.quality-area .col {
    flex: 1 0 50%;
}
.quality-area .row{
    --bs-gutter-x: 0;   
}
.quality-area .col:nth-child(1) {
    max-width: 663px;
}
.quality-slider-wrapper {
    max-width: 460px;
    padding-bottom: 113px;
}
.quality-img-wrapper {
    position: relative;
    z-index: 1;
    overflow: hidden;
    height: 478px;
}
  .quality-img-item {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    height: 100%;
  }
  .quality-img-item img {
    width: 100%;
    display: block;
    object-fit: cover;

}
.our-culture-content p,
  .slider-item p {
    max-width: 414px;
}
/* ====================== quality section end ====================== */

/* ====================== project section start ========================= */
.project-area {
    padding: 63px 0;
}
.project-area .container {
    max-width: 1180px;
}
.project-card-wrapper {
    border-radius: 15px;
    background: #fff;
}
.project-card-wrapper::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: linear-gradient(0deg, rgba(61, 112, 60, 0.89) 0%, rgba(61, 112, 60, 0.89) 100%);
    mix-blend-mode: multiply;
}
/* .project-slider-wrapper .swiper-slide {
    max-width: 433px;
} */
.project-card-wrapper img {
    opacity: 0.38;
}
.project-card-link {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    border-left: 13px solid #fff;
    background: #fff;
    border-bottom: 13px solid #fff;
 
}
.project-card-link a {
    height: 48px;
    width: 48px;
    background: #359434;
    border-radius: 10px;
}
.project-card-content {
    position: absolute;
    z-index: 3;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px 15px;
    padding-left: 35px;
}
.project-sub-title {
    color: #FDFDF2;
    text-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    font-family: "neue-haas-unica",sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.68;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 5px;
}
.project-card-content h3 {
    color: #FFF;
    text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.25);
    font-size: 42px;
    font-weight: 500;
    line-height: 1.1;
}
.project-area h2 {
    margin-bottom: 38px;
}

.project-slider-wrapper {
    overflow: inherit;
    padding-bottom: 120px;
}
.project-slider-wrapper .swiper-icon-btn {
    border-radius: 10px;
    height: 48px;
    width: 48px;
    border-color: #3D703C;
}
.project-slider-wrapper .swiper-icon-btn svg path{
    transition: all 0.3s linear;
}
.project-slider-wrapper .swiper-icon-btn:hover svg path{
    fill: #fff;
}
.project-slider-wrapper .swiper-button-prev, 
.project-slider-wrapper .swiper-rtl .swiper-button-next {
    left: 0;
    right: auto;
}
.project-slider-wrapper .swiper-button-next, 
.project-slider-wrapper .swiper-rtl .swiper-button-prev {
    right: auto;
    left: 55px;
}
.project-slider-wrapper .swiper-button-next, 
.project-slider-wrapper .swiper-button-prev {
    top: auto;
    bottom: 0;
}
/* ====================== project section end ========================= */

/* ====================== our services start ========================= */
.our-services-area {
    background: #F5F5F5;
    padding: 62px 0 77px;
}
.our-services-area .container{
    max-width: 1272px;
}
.our-services-area h2 {
    font-size: 58px;
}
.our-services-area .section-wrapper {
    max-width: 945px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 49px;
}
.our-services-area .section-wrapper p{
    font-size: 17px;
}

.our-services-area .nav-tabs .nav-link.active {
    color: #000;
}
.our-services-area .nav-item {
    flex-basis: 50%;
    text-align: center;
}
.our-services-area .nav-item .nav-link::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background-color: rgba(141, 141, 141, 0.30);
    z-index: 1;
    transition: all 0.3s linear;
}
.our-services-area .nav-item .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -0.5px;
    height: 3px;
    width: 100%;
    background-color: #359434;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    transition: all 0.3s linear;
}
.our-services-area .nav-tabs .nav-link.active::after{
    opacity: 1;
    visibility: visible;
}
.our-services-area .nav-tabs .nav-link {
    border: 0;
    width: 100%;
    background-color: transparent;
    position: relative;
    z-index: 1;
    padding: 0;
    padding-bottom: 14px;
    color: rgba(0, 0, 0, 0.50);
    font-size: 22px;
    height: 100%;
    transition: all 0.3s linear;
}
.our-services-area .tab-content {
    border: 0;
    background: #3D703C;
    margin-top: 31px;
    padding: 32px;
}
.our-services-content {
    max-width: 448px;
    padding-left: 15px;
}
.our-services-content h2 {
    font-size: 44px;
    color: #fff;
}
.our-services-content p{
    color: #fff;
    font-family: "neue-haas-unica", sans-serif;
}
.our-services-img{
    border-radius: 14px;
}
.our-services-content .btn-1.btn-2 {
    margin-top: 12px;
}
.nav-tabs {
    border-bottom: 0;
}
/* ====================== our services end ========================= */

/* ====================== our culture section start  ========================= */

.our-culture-content .btn-1 {
    margin-top: 10px;
}

/* animtion  */
.hero-graphics-wrap {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    inset: 0%;
    font-size: 18px;
}
.hero-graphics-column {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column;
    flex: none;
    justify-content: center;
    align-items: flex-end;
    display: flex;
}
.hero-graphics-column.is-home-01 {
    min-width: 20rem;
}
.hero-graphics-column.al-l.is-home-02 {
    min-width: 20rem;
}
.hero-graphic-row {
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: row;
    display: flex;
}
.hero-graphics-wrap .card {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}
.card {
    border-radius: 10px;
    flex-direction: column;
    height: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    border: 0;
}
.graphic-img-width {
    width: 15em;
}
.graphic-img-width.is-24 {
    width: 24rem;
}
.card-img-wrap.is-vert-120 {
    padding-bottom: 120%;
}
.img-abs {
    z-index: 1;
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0%;
}
.img-abs.is-01 {
    z-index: 3;
}
.img-abs.is-02 {
    z-index: 2;
    opacity: 0;
}
.our-culture-area img {
    vertical-align: middle;
    max-width: 100%;
    display: inline-block;
}
.card-img-wrap {
    width: 100%;
    padding-bottom: 65%;
    position: relative;
    overflow: hidden;
}
.card-img-wrap.is-square {
    padding-bottom: 100%;
}
.hero-graphics-column.al-l.is-home-02 {
    min-width: 22rem;
}
.hero-graphics-column.al-l {
    align-items: flex-start;
}
.graphic-img-width.is-18 {
    width: 18em;
}
.card-img-wrap.is-vert-140 {
    padding-bottom: 140%;
}
.hero-illu-cd6-ct4-op1-ot2 {
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
}
.our-culture-area  .col:nth-child(2) {
    max-width: 595px;
}
.our-culture-content {
    max-width: 434px;
}
.our-culture-area {
    padding: 130px 0px;
}
.hero-illu-cd6-ct4-op1-ot2 {
    font-size: 5.6vw !important;
}
/* animtion  */

/* ====================== our culture section end  ========================= */

/* ======================  cta section start  ========================= */
.cta-area {
    background: #3D703C;
    padding: 195px 0;
    border-bottom: 12px solid #D9D9D9;
}
.cta-content p ,
.cta-content h2 {
    color: #fff;
}
.cta-content h2 {
    margin-bottom: 20px;
}
.cta-content p {
    font-family: "neue-haas-unica",sans-serif;
    max-width: 467px;
}
.cta-content {
    max-width: 596px;
    margin-right: auto;
    margin-left: auto;
}
.cta-content .btn-1.btn-2 {
    margin-top: 10px;
    padding: 8px 32.5px;
}
.cta-bg {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(50% - 144px);
}
/* ======================  cta section end ========================= */

/* ======================  footer section start ========================= */
.top-footer-area {
    padding: 20px 0 45px;
}
.footer-logo{
    display: block;
}
.footer-logo img {
    max-width: 271px;
}
.mobile-footer-menu-wrapper-info h5,
.footer-menu h5 {
    color: #3D703C;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.48px;
    margin-bottom: 4px;
}
.footer-menu address a ,
.footer-menu ul li a {
    font-family: "neue-haas-unica",sans-serif;
    line-height: 1.99;
    display: inline-block;
}
.footer-menu address{
    margin-bottom: 30px;
}
.footer-menu-wrapper .row {
    --bs-gutter-x: 0;
}
.footer-menu-wrapper {
    margin-top: 30px;
    padding-left: 21px;
}
.footer-menu-wrapper .col:nth-child(1){
    max-width: 150px;
}
.footer-menu-wrapper .col:nth-child(2){
    max-width: 157px;
}
.other-link-wrapper li{
    display: inline-block;
    margin-right: 18px;
}
.other-link-wrapper li:last-child{
    margin-right: 0;
}

.copy-right-caption p ,
.other-link-wrapper li a {
    color: rgba(0, 0, 0, 0.50);
    font-family: "neue-haas-unica",sans-serif;
    font-size: 13px;
    text-decoration: underline;
    transition: all 0.3s linear;
}
.other-link-wrapper li a:hover{
    color: #000;
    text-decoration: none;
}
.copy-right-wrapper-info {
    border-top: 1px solid #DCDAD8;
    padding: 8px 0 12px;
}
.copy-right-wrapper .container {
    max-width: 1136px;
}
.top-footer-area .container {
    max-width: 1168px;
}
.mobile-footer-menu-wrapper-info li a{
    line-height: 1.82;
}
.mobile-footer-menu-wrapper {
    position: relative;
    z-index: 1;
    padding: 30px 0 25px;
}
.mobile-footer-menu-wrapper::after,
.mobile-footer-menu-wrapper::before{
    content: "";
    position: absolute;
    left: -20px;
    top: 0;
    height: 1px;
    width: calc(100% + 40px);
    background-color: #DCDAD8;
    z-index: 1;
}
.mobile-footer-menu-wrapper::after{
    top: auto;
    bottom: 0;
}
.mobile-footer-menu-wrapper-info {
    margin-bottom: 25px;
}
.mobile-footer-menu-wrapper-info:last-child{
    margin-bottom: 0;
}
/* ======================  footer section end ========================= */

.card-scroll-opacity {
    z-index: 5;
    background-color: #000;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    inset: 0%;
}