/* 1400, 1199, 991, 767, 575, 480, 360, 320 */
/* CSS Index
-----------------------------------
1.default css
-----------------------------------
*/

/* min-width 1500 */
@media (max-width: 1600px) {

    
}
/* min-width 1500 */
@media (max-width: 1500px) {
   
}

/* max-width 1399 */
@media (max-width: 1399.98px) {


/* ======================  cta section start  ========================= */
.cta-bg {
    width: calc(50% - 50px);
}
.cta-content {
    max-width: 480px;
    margin-right: auto;
    margin-left: 0;
}
/* ======================  cta section end  ========================= */


}

/* max-width 1199 */
@media (max-width: 1199.98px) {

    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
        padding-right: 20px;
        padding-left: 20px;
    }
/* ====================== our client section start ====================== */
.our-client-area .col {
    flex: 1 0 33%;
}
/* ====================== our client section end ====================== */


/* ====================== our culture section start  ========================= */
.our-culture-content {
    max-width: 380px;
}
/* ====================== our culture section end  ========================= */


/* ======================  cta section start  ========================= */
.cta-bg {
    width: calc(50% - 20px);
}
.cta-area {
    padding: 150px 0;
}

/* ======================  cta section end  ========================= */

/* ======================  footer section start ========================= */
.top-footer-area .col:nth-child(1){
    max-width: 500px;
}
.top-footer-area .col:nth-child(1) {
    max-width: 380px;
}
/* ======================  footer section end ========================= */


}

/* max-width 991 */
@media (max-width: 991.98px) {

    /* all paddding */
    .our-client-area{
        padding: 70px 0;
    }
    /* all paddding */

    /* heading  style*/

    h1 {
        font-size: 48px;
    }
    
    h2 {
        font-size: 40px;
    }
    
    h3 {
        font-size: 36px;
    }
    
    h4 {
        font-size: 28px;
    }
    
    h5 {
        font-size: 24px;
    }
    
    h6 {
        font-size: 18px;
    }
    



/* ====================== header section start ====================== */
    .header-area {
        padding: 5px 0px;
        position: relative;
        border-bottom: 6px solid #3D703C;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }
    .header-area  .container {
        padding-right: 24px;
        padding-left: 24px;
    }
/* ====================== header section end ====================== */

/* ====================== banner section start ====================== */
    .swiper-button-next, .swiper-button-prev {
        bottom: 33px;
    }
    .swiper-button-prev, .swiper-rtl .swiper-button-next {
        left: 39px;
        right: auto;
    }
    .swiper-button-next, .swiper-rtl .swiper-button-prev {
        right: auto;
        left: 92px;
    }
    .swiper-icon-btn {
        height: 42px;
        width: 42px;
    }
    .banner-content h1 {
        font-size: 58px;
    }
    .banner-content-wrapper {
        min-height: 539px;
        height: 100%;
        padding: 113px 0 161px;
    }
    .banner-content p br {
        display: none;
    }
/* ====================== banner section end ====================== */


/* ====================== project section start ========================= */
.project-card-content h3 {
    font-size: 30px;
}
/* ====================== project section end ========================= */

/* ====================== quality section start ====================== */
.quality-area .col:nth-child(1) {
    max-width: 100%;
}
.quality-slider-wrapper {
    max-width: 100%;
    padding-bottom: 0;
}
.quality-area .container {
    padding-right: 8px;
    padding-left: 8px;
}
.slider-item-info {
    padding-left: 30px;
    padding-right: 30px;
}
.slider-img-wrapper {
    margin-bottom: 24px;
}
.pin {
    padding: 22px 0 30px;
}
.our-culture-content p, .slider-item p {
    max-width: 100%;
}
.quality-slider-wrapper .swiper-icon-btn {
    border: 0;
    background: #359434;
}
.quality-slider-wrapper .swiper-icon-btn svg{
    height: 16px;
    width: 16px;
}
.quality-slider-wrapper .swiper-button-prev, 
.quality-slider-wrapper .swiper-rtl .swiper-button-next {
    left: 5px;
    right: auto;
}
.quality-slider-wrapper .swiper-button-next,  
.quality-slider-wrapper .swiper-rtl .swiper-button-prev {
    right: 5px;
    left: auto;
}
.quality-slider-wrapper .swiper-button-next, 
.quality-slider-wrapper .swiper-button-prev {
    bottom: auto;
    top: calc(50% - 120px);
}
/* ====================== quality section end ====================== */



/* ====================== our services start ====================== */
.our-services-content-wrapper .col {
    flex: 1 0 100%;
}
.our-services-content {
    max-width: 100%;
    padding-left: 0;
    margin-bottom: 30px;
}
.our-services-area .tab-content {
    padding-bottom: 37px;
    padding-right: 36px;
    padding-left: 36px;
    margin-top: 20px;
}
/* ====================== our services end====================== */

/* ======================  cta section start  ========================= */
.cta-bg {
    width: 100%;
    position: relative;
    z-index: 1;
    height: 375px;
    margin-bottom: 34px;
}
.cta-area {
    padding: 0;
    padding-bottom: 45px;
}
.cta-content {
    text-align: center;

}
.cta-content p{
    margin-right: auto;
    margin-left: auto;
}
/* ======================  cta section end  ========================= */


/* ======================  footer section start ========================= */
.top-footer-area .col:nth-child(1) {
    max-width: 100%;
}
.top-footer-area .col{
    flex-basis: 100%;
}
.footer-logo img {
    max-width: 200px;
    margin-right: auto;
    margin-left: auto;
}
.footer-mobile-logo-wrapper {
    padding-top: 16px;
    margin-bottom: 37px;
}
.footer-logo {
    margin-bottom: 20px;
}
.copy-right-wrapper-info {
    border-top: 0;
    padding: 14px 0 22px;
}
.copy-right-wrapper-info .col-auto {
    flex: 1 0 100%;
}
.copy-right-wrapper-info .row{
    text-align: center;
}
/* ======================  footer section end ========================= */

/* ====================== our culture section start  ========================= */
.our-culture-area .container {
    padding-right: 36px;
    padding-left: 36px;
}
.hero-graphics-wrap {
    position: relative;
    top: 0;
    left: 0;
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
}
.hero-illu-cd6-ct4-op1-ot2 {
    display: block;
}
.our-culture-content {
    max-width: 100%;
}
.our-culture-area  .col:nth-child(2) {
    max-width: 100%;
}
.our-culture-area .row{
    flex-direction: column-reverse;
}
.our-culture-area {
    padding: 50px 0 56px;
}
/* ====================== our culture section end  ========================= */


}

/* max-width 767 */
@media (max-width: 767.98px) {
    /* all paddding */
    .our-client-area{
        padding: 50px 0;
    }
    /* all paddding */

    /* heading  style*/

    h1 {
        font-size: 40px;
    }
    .our-services-area .section-wrapper h2 ,
    h2 {
        font-size: 32px;
    }
    
    h3 {
        font-size: 28px;
    }
    
    h4 {
        font-size: 24px;
    }

    /* ====================== our client section start ====================== */
    .card-logo-wrapper-area {
        gap: 18px;
    }
    .card-logo-wrapper {
        min-width: 150px;
    }
    /* ====================== our client section end ====================== */
/* ====================== our services start ====================== */
.our-services-area {
    background: rgba(217, 217, 217, 0.30);
    padding: 36px 0 24px;
}
.our-services-area .nav-tabs .nav-link{
    font-size: 16px;
}
.our-services-content h2 {
    font-size: 30px;
}
.our-services-area .section-wrapper h2 {
    margin-bottom: 14px;
}
.our-services-area .section-wrapper {
    margin-bottom: 50px;
}

/* ====================== our services end ====================== */

/* ====================== our culture section start  ========================= */
.hero-graphics-column.is-home-01 {
    min-width: 24rem;
}
/* ====================== our culture section end  ========================= */



}

/* max-width 575 */
@media (max-width: 575.98px) {


    /* ====================== our client section start ====================== */
        .card-logo-wrapper-area {
            gap: 18px;
        }
        .card-logo-wrapper {
            min-width: 98px;
            padding: 5px;
        }
        .card-logo-wrapper img {
            max-width: 88px;
            max-height: 37px;
        }
    /* ====================== our client section end ====================== */

/* ====================== project section start ========================= */
.project-area {
    padding: 45px 0;
}
.project-area h2 {
    margin-bottom: 20px;
}
.project-area .container {
    padding-right: 36px;
    padding-left: 36px;
}
.project-sub-title {
    font-size: 11px;
    margin-bottom: 0;
}
.project-card-content {
    padding: 17px 10px;
    padding-left: 25px;
}
.project-slider-wrapper {
    padding-bottom: 106px;
}
.project-slider-wrapper .swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, 
.project-slider-wrapper .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, 
.project-slider-wrapper .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    bottom: 75px;
}
.project-card-link a {
    height: 35px;
    width: 35px;
}
.project-card-link a svg{
    height: 16px;
    width: 16px;
}
/* ====================== project section end ========================= */

    
}

/* max-width 479 */
@media (max-width: 479.98px) {
    /* all paddding */
    .our-client-area{
        padding: 25px 0 30px;
    }
    /* all paddding */
    /* ====================== banner section start ====================== */
    .banner-content h1 {
        font-size: 45px;
        margin-bottom: 14px;
    }
    .banner-content p {
        font-size: 16px;
        max-width: 277px;
    }
    .banner-content .btn-1 {
        margin-top: 7px;
    }
    /* ====================== banner section end ====================== */
    /* ====================== our client section start ====================== */
    .our-client-area  h2 {
        margin-bottom: 20px;
    }
    .hero-graphics-column.is-home-01 {
        min-width: 21rem;
    }
    /* ====================== our client section end ====================== */


    /* ====================== quality section start ====================== */
    .slider-img-wrapper img {
        height: 234px;
        object-fit: cover;
    }
    .our-culture-content h2, .slider-item h2 {
        margin-bottom: 16px;
    }
    .our-culture-content h5, .slider-item h5{
        font-size: 19px;
        margin-bottom: 10px;
    }
    .quality-slider-wrapper .swiper-icon-btn {
        height: 29px;
        width: 29px;
    }
    .quality-slider-wrapper .swiper-button-next, .quality-slider-wrapper .swiper-button-prev {
        bottom: auto;
        top: 127px;
    }
    /* ====================== quality section end ====================== */

/* ====================== our services start ========================= */
    .our-services-content .btn-1.btn-2 {
        margin-top: 8px;
    }
    .our-services-img img {
        height: 291px;
        object-fit: cover;
    }
    .our-services-area .nav-tabs .nav-link span {
        max-width: 146px;
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
/* ====================== our services end ========================= */


/* ======================  cta section start  ========================= */
.cta-content h2 {
    line-height: 1.04;
    max-width: 185px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 13px;
}
.cta-content {
    max-width: 252px;
    margin-right: auto;
    margin-left: auto;
}

/* ======================  cta section end  ========================= */
/* ======================  footer section start ========================= */
.footer-logo img {
    max-width: 148px;
}
.copy-right-caption {
    margin-top: 14px;
}
/* ======================  footer section end ========================= */
 /* ====================== our culture section end  ========================= */
.graphic-img-width.is-24 {
    width: 15rem;
}
.our-culture-content .btn-1 {
    margin-top: 0;
}
.footer-mobile-logo-wrapper .btn-1{
    padding: 8px 20px;
}
.footer-mobile-logo-wrapper .btn-1 {
    padding: 8px 32.5px;
}
.our-services-area .section-wrapper p {
    max-width: 304px;
    margin-right: auto;
    margin-left: auto;
}
/* ====================== our culture section end  ========================= */

}

/* max-width 383 */
@media (max-width: 374px) {
    .our-services-area .tab-content {
        padding-right: 25px;
        padding-left: 25px;
    }
    .copy-right-caption p, .other-link-wrapper li a {
        font-size: 12px;
    }
    .other-link-wrapper li {
        margin-right: 3px;
    }
    .offcanvas-bottom-conent .btn-1 {
        padding: 8px 24px;
        margin-bottom: 65px;
    }
}

